name: Deploying components through githubActions

on: 
  push:
     branches: [main]
     paths:
        - 'force-app/**'

jobs:
   Deploy-to-SF-org:
       runs-on: ubuntu-latest
       steps:
         - name: 'Install NodeJS'
           uses: actions/setup-node@v3
           with:
             node-version: '18'

         - name: 'Checkout code'
           uses: actions/checkout@v3
           with: 
             fetch-depth: '2'

         - name: 'Install SFDX CLI'
           run: npm install @salesforce/cli --global

         - name: 'Insall SFDX git delta'
           run: |
              echo Y | sfdx plugins:install sfdx-git-delta
              sfdx plugins

         - name: 'Create Delta package'
           run: |
              mkdir Delta-changes
              sf sgd source delta --to "HEAD" --from "HEAD~1" -o Delta-changes/ --generate-delta -s force-app/
              echo "Differences Generated"
         - name: 'Finding Test Classes'
           id: delta
           run: |
             chmod +x ./devops_scripts/Find_test_classes.sh
             sh /devops_scripts/Find_test_classes.sh

         - name: 'Authorize the org'
           run: | 
              echo "${{ secrets.SERVER_KEY }}" > server.key

              sf org login jwt -f server.key -i ${{ secrets.CONSUMER_KEY }} -o ${{ secrets.USERNAME }} -a devhub

              echo "Org Authentication is succesfull"
         - name: 'Deploy Changes to Org'

           env: 
              TEST_CLASSES: ${{ steps.delta.outputs.test_classes }}
           run: |
             if [ ! -d "Delta-changes/force-app" ]; then
             echo "No delta changes to deploy. Exiting."
             exit 0
             fi

              # Default behavior if no test classes are found
             
              TEST_LEVEL="NoTestRun"
              TEST_ARGS=""

              if [ -n "$TEST_CLASSES" ]; then
              echo "Using RunSpecifiedTests with: $TEST_CLASSES"
              TEST_LEVEL="RunSpecifiedTests"
              TEST_ARGS="--tests $TEST_CLASSES"
              else
              echo "No test classes detected in this commit."
              echo "Falling back to NoTestRun."
              # If you want to FAIL instead, uncomment the next line and remove fallback:
              # exit 1
             fi

              # Use sf's project deploy command and pass tests via --tests
              sf project deploy start --source-dir Delta-changes/force-app --target-org devhub --test-level $TEST_LEVEL $TEST_ARGS --json --verbose

             # sf project deploy start --source-dir Delta-changes/force-app --test-level RunLocalTests  --target-org devhub     


